<h1><%= title %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam itaque assumenda
  iure cumque laudantium possimus, ipsam ut recusandae ducimus architecto
  placeat ex animi, voluptates laboriosam error ab consequatur, atque
  voluptatum.
</p>
